/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #000;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#canvas {
    display: block;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 10em;
    pointer-events: none;
}

#overlay h1 {
    color: #EE8;
    text-align: center;
}

#controls {
    position: absolute;
    left: 50%;
    width: 31em;
    margin-left: -14em;
}

#controls span {
    margin: 8px 0px 0px 20px;
    line-height: 1.5em;
    display: inline-block;
    color: #FFF;
}

.hidden {
    transition: opacity 0.2s, visibility 0.2s;
    opacity: 0;
    visibility: hidden;
}